body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

section {
  margin-bottom: 30px;
}

input {
  display: block;
  margin: 5px 0;
  padding: 6px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

#events-list div{

border:1px solid #ddd;
padding:15px;
margin-bottom:15px;
border-radius:8px;
background:#fafafa;

}

span{

font-weight:bold;
color:#2c3e50;

}
